table,
th,
td {
  border: 3px solid black;
}

table {
  height: 400px;
  width: 450px;
}

th {
  font-size: xx-large;
  color: red;
  background-color: lemonchiffon;
  width: 100%;
}

tr {
  margin-left: 5px;
  background-color: aqua;
}

.button {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 5px;
  font-size: large;
  width: 125px;
  height: 40px;
}

.try-to-center {
  justify-content: space-between;
  text-align: center;
}
